body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 18px !important;
  text-align: left;
  color: black !important;
}
h2 {
  font-size: 18px !important;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}
h4 {
  font-size: 30px !important;
  font-weight: bold !important;
}
hr {
  color: rgba(0, 0, 0) !important;
}
p {
  text-align: left !important;
}
.navbar-brand{
  font-size: 26px !important;
  font-weight: 500 !important;
}

.text-light {
  color: rgb(255, 255, 255);
}
.img-fluid {
  height: 200px !important;
}

.bigImg {
  height: inherit !important;
}

.btn-pay:hover {
  color: black !important;
  background-color: skyblue !important;
}

/* Footer START */
.foot {
  padding: 20px;
}
.foot-color {
  color: rgba(255, 255, 255);
  text-decoration: none;
  border-radius: 0 !important;
}
.foot-color:hover {
  color: rgb(150, 150, 150);
}

/* Buttons */
.wa {
  background-color: #25d366 !important;
  color: white !important;
}
.wa:hover {
  color: #25d366 !important;
  background-color: white !important;
}

.twt {
  background-color: #1da1f2 !important;
  color: white !important;
}
.twt:hover {
  color: #1da1f2 !important;
  background-color: white !important;
}
.fb {
  color: white !important;
  background-color: #4267b2 !important;
}
.fb:hover {
  background-color: white !important;
  color: #4267b2 !important;
}
.yt {
  background-color: #ff0000 !important;
  color: white !important;
}
.yt:hover {
  color: #ff0000 !important;
  background-color: white !important;
}
.mail {
  color: white !important;
  background-color: goldenrod !important;
}
.mail:hover {
  color: goldenrod !important;
  background-color: white !important;
}
/* Footer ENDs Here */

/* Registration Page START */
.form-control {
  font-size: 15px;
}
.form-control,
.form-control:focus,
.input-group-text {
  border-color: #e1e1e1;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 15px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}
.signup-form .btn,
.signup-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #19aa8d !important;
  border: none;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #179b81 !important;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa-envelope {
  height: 25px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 25px;
  font-size: 10px;
  position: absolute;
}
/* Registration Page ENDS */
