body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 18px !important;
  text-align: left;
  color: black !important;
}
h2 {
  font-size: 18px !important;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}
hr{
  color: rgba(0, 0, 0) !important;
}
p {
  text-align: left !important;
}
.card{
  border-radius: 20px !important;
}
.text-light{
  color: rgb(255, 255, 255);
}
.img-fluid {
  height: 200px !important;
}

.bigImg {
  height: inherit !important;
}

/* Footer START */
.foot {
  padding: 20px;
}
.foot-color {
  color: rgba(255, 255, 255);
  text-decoration: none;
  border-radius: 0 !important;
}
.foot-color:hover {
  color: rgb(150, 150, 150);
}

/* Buttons */
.wa {
  background-color: #25d366 !important;
  color: white !important;
}
.wa:hover {
  color: #25d366 !important;
  background-color: white !important;
}

.twt {
  background-color: #1da1f2 !important;
  color: white !important;
}
.twt:hover {
  color: #1da1f2 !important;
  background-color: white !important;
}
.fb {
  color: white !important;
  background-color: #4267b2 !important;
}
.fb:hover {
  background-color: white !important;
  color: #4267b2 !important;
}
.yt {
  background-color: #ff0000 !important;
  color: white !important;
}
.yt:hover {
  color: #ff0000 !important;
  background-color: white !important;
}
.mail {
  color: white !important;
  background-color: goldenrod !important;
}
.mail:hover {
  color: goldenrod !important;
  background-color: white !important;
}
/* Footer ENDs Here */
