body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 18px !important;
  text-align: left;
  color: black !important;
}
h2 {
  font-size: 18px !important;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}
h4 {
  font-size: 30px !important;
  font-weight: bold !important;
}
hr {
  color: rgba(0, 0, 0) !important;
}
p {
  text-align: left !important;
}
.navbar-brand {
  font-size: 26px !important;
  font-weight: 500 !important;
}
.dropdown-item:active{
background-color:black !important;
}
.card-zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text-light {
  color: rgb(255, 255, 255);
}
.img-fluid {
  height: 200px !important;
}

.bigImg {
  height: inherit !important;
}

.btn-pay:hover {
  color: black !important;
  background-color: skyblue !important;
}

/* Footer START */
.foot {
  padding: 20px;
}
.foot-color {
  color: rgba(255, 255, 255);
  text-decoration: none;
  border-radius: 0 !important;
}
.foot-color:hover {
  color: rgb(150, 150, 150);
}

/* Buttons */
.wa {
  background-color: #25d366 !important;
  color: white !important;
}
.wa:hover {
  color: #25d366 !important;
  background-color: white !important;
}

.twt {
  background-color: #1da1f2 !important;
  color: white !important;
}
.twt:hover {
  color: #1da1f2 !important;
  background-color: white !important;
}
.fb {
  color: white !important;
  background-color: #4267b2 !important;
}
.fb:hover {
  background-color: white !important;
  color: #4267b2 !important;
}
.yt {
  background-color: #ff0000 !important;
  color: white !important;
}
.yt:hover {
  color: #ff0000 !important;
  background-color: white !important;
}
.mail {
  color: white !important;
  background-color: goldenrod !important;
}
.mail:hover {
  color: goldenrod !important;
  background-color: white !important;
}
/* Footer ENDs Here */

/* Registration Page START */
.form-control {
  font-size: 15px;
}
.form-control,
.form-control:focus,
.input-group-text {
  border-color: #e1e1e1;
}
.form-control,
.btn {
  border-radius: 3px;
}
.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
  margin-top: 0;
}
.signup-form hr {
  margin: 0 -30px 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 15px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}
.signup-form .btn,
.signup-form .btn:active {
  text-decoration: none !important;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: rgb(0, 195, 255);
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa-envelope {
  height: 25px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 25px;
  font-size: 10px;
  position: absolute;
}
/* Registration Page ENDS */
/* LOGIN PAGE START */

.login-body {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  padding-bottom: 15px;
  font-size: 16px;
}
.form-control:focus {
  border-color: #000000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(0, 0, 0) !important;
}

.form-signin input[type="email"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-top: 1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ghov:hover {
  background-color: #000000 !important;
  color: rgb(0, 195, 255) !important;
}
